.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}

.playing {
    color: var(--green-color1);
}

.pusher {
    height: 200px;

    @media(min-width:770px) {
        height: 0;
    }

}