.home-page {
    @include main-content-scroll;
    padding: 20px;
    top: 52px;

    .greeting {
        color: white;
        font-family: 'curlyBold';
        font-size: 34px;
        margin-bottom:25px;
    }
}