.home-page {
    @include main-content-scroll;
    padding: 12px;
    top: 52px;

    @media(min-width:770px) {
        padding: 20px;
    }

    .greeting {
        color: white;
        font-family: 'curlyBold';
        font-size: 34px;
        margin-bottom: 25px;
    }
}