.liked-songs {
    .playlist-title {
        font-family: curlyBold;
        font-size: 100px;
        margin-left: -7px;
    }

    .img-container {

        .liked-songs-img {
            width: 228px;
            height: 228px;
            display: flex;
            background: linear-gradient(135deg, #450af5, #c4efd9);
            border-radius: 3px;
            font-size: 90px;
            position: relative;

            span {
                position: absolute;
                top: 66px;
                left: 72px;

                //check out how is it suppost to act in mobile compared to playlist details
            }
        }
    }
}