.playlist-details {
    color: #fff;
    overflow-y: scroll;
    padding-left: 20xp;
    position: absolute;
    resize: none;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    outline: none;
    overflow-x: inherit;
    // padding: 0;

    .playlist-details-header {
        height: 30vh;
        max-height: 500px;
        min-height: 300px;
        gap: 20px;
        margin: 0 -17px 0 -19px;
        padding: 0 0 32px 32px;
        background-color: var(--background-dark);
        align-items: end;
        margin-bottom: 32px;

        .img-container {
            align-self: flex-end;
            height: 232px;
            margin-inline-end: 24px;
            min-width: 232px;
            box-shadow: 0 0 15px 4px black;
            position: relative;

            &:hover .change-photo-btn {
                opacity: 1;
                transition: all .4s;
            }

            img {
                object-fit: cover;
                height: 100%;
            }

            .change-photo-btn {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: #0a0a0a8c;

                label {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    .photo-label {
                        justify-content: center;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        position: relative;
                        top: 0;

                        span {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }

        .playlist-description {
            gap: 15px;

            .playlist-title {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 5rem;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .playlist-details-main {

        &.action-btns {
            gap: 20px;
            margin-bottom: 20px;
            position: relative;

            .play-btn {
                @include green-play-btn
            }

            .menu-btn {
                @include cleared-btn;

                span {
                    font-size: 1.2rem;
                }
            }
        }

        .playlist-details-main-content {
            .songs-titles-container {
                position: sticky;
                border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
                margin-bottom: 10px;

                .songs-titles {
                    display: grid;
                    margin-inline-start: 20px;
                    grid-template-columns: 16px 6fr 3fr minmax(120px, 1fr);
                    color: #b3b3b3;
                    height: 36px;
                    grid-gap: 16px;
                }
            }

            .songs-container {



                .top-songs-results {
                    // display: grid;
                    // grid-template-columns:  16px  6fr  3fr  minmax(120px, 1fr);
                    // gap: 16px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    height: 56px;
                    position: relative;
                    padding: 0 16px;

                    &.modal-open {
                        background-color: hsla(0, 0%, 100%, .3);
                    }


                    &:hover {
                        background-color: hsla(0, 0%, 100%, .1);

                        &.modal-open {
                            background-color: hsla(0, 0%, 100%, .3);
                        }

                        .song-actions {

                            p {
                                color: white;
                            }

                            .actions-btn {
                                opacity: 1;
                            }
                        }

                        .top-song {
                            .index-display {
                                p {
                                    display: none;
                                }

                                .play-pause-btn {
                                    display: initial;
                                }

                            }

                            .song-description {
                                h6 {
                                    color: white;
                                }
                            }
                        }
                    }

                    .top-song {
                        flex: 1;

                        .index-display {
                            margin-right: 16px;

                            .volume-gif {
                                width: 14px;
                                height: 14px;
                                margin-inline-end: -4px
                            }

                            p {
                                margin: 0;
                                font-size: 20px;
                                color: #A7A7A7;
                            }

                            .play-pause-btn {
                                @include play-pause;
                                color: white;
                                background: none;
                                display: none;
                                padding: 0;
                                width: 10px;
                                position: relative;
                                right: 11px;
                            }

                        }

                        .img-container {
                            width: 40px;
                            height: 40px;
                            margin-right: 16px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .song-description {
                            .song-title {
                                h5 {
                                    color: white;
                                    margin: 0 0 8px 0;
                                    font-size: 16px;
                                    font-weight: 100;

                                    &.playing {
                                        color: var(--green-color1);
                                    }
                                }
                            }

                            h6 {
                                color: #A7A7A7;

                                font-size: 14px;
                                font-weight: 100;
                                margin: 0;
                            }
                        }


                    }

                    .song-actions {
                        min-width: 76px;
                        gap: 12px;
                        position: relative;

                        p {
                            color: #A7A7A7;
                        }

                        .actions-btn {
                            padding: 0;
                            @include cleared-btn;
                            font-size: 21px;
                            line-height: 17px;
                            opacity: 0;
                        }


                    }
                }

            }
        }
    }
}