.search-results-page {
    margin-top: 20px;
    color: #fff;
    @include main-content-scroll;
    top: 63px;
    left: 10px;
    right: 10px;
    overflow-x: hidden;

    .pusher {
        height: 140px;
    }

    .search-bar-results {
        flex-grow: 1;
        min-width: 0;
        margin-bottom: 10px;

        .search-bar-container {
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: flex;
            gap: 16px;

            .search-form-container {
                flex: 0 1 364px;
                position: relative;

                input {
                    font-size: 0.875rem;
                    border: 0;
                    border-radius: 3px;
                    color: #000;
                    height: 40px;
                    padding: 6px 48px;
                    text-overflow: ellipsis;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }

                .search-icon-container {
                    align-items: center;
                    bottom: 0;
                    display: flex;
                    left: 12px;
                    pointer-events: none;
                    position: absolute;
                    right: 12px;
                    top: 7px;
                    font-size: 1.7em;

                    span {
                        color: #121212;
                        flex: 1;
                    }
                }
            }
        }
    }

    .search-results-container {
       
        .search-results {
        

            flex-direction: column;
           

            .top-songs {
                grid-column: 3/-1;

                &.title {
                    margin-bottom: 16px;
                }

            }

            .top-songs-results-container {
                margin-bottom: 30px;

                .top-songs-results {
                    height: 75px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    padding: 0 16px;

                    &:hover .song-actions button {
                        opacity: 1;
                    }

                    &:hover .top-song .img-container .photo-play {
                        opacity: 1;
                    }

                    &:hover {
                        background-color: hsla(0, 0%, 100%, .1);
                    }

                    .top-song {
                        height: 100%;
                        flex: 1;

                        .img-container {
                            height: 65px;
                            width: 65px;
                            margin-inline-end: 10px;
                            position: relative;

                            img {
                                height: 100%;
                                clip-path: inset(12.5% 0 12.5%);
                            }

                            .photo-play {
                                @include cleared-btn;
                                cursor: pointer;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                background-color: #000000a1;
                                opacity: 0;

                                span {
                                    font-size: 1.2rem;
                                    color: #fff;
                                }
                            }
                        }

                        .song-description {
                            height: 100%;
                            display: grid;
                            grid-template-areas:
                                'title'
                                'channel';
                            grid-template-columns: 250px;
                            grid-template-rows: 14px 10px;
                            gap: 16px;
                            position: relative;
                            bottom: -13px;

                            .song-title {
                                grid-area: title;

                                h5 {
                                    white-space: nowrap;
                                    overflow-x: hidden;
                                    text-overflow: ellipsis;

                                }
                            }

                            h6 {
                                grid-area: channel;
                            }
                        }
                    }

                    .song-actions {
                        gap: 5px;

                        button {
                            @include cleared-btn;
                            opacity: 0;

                            span {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }

            .playlists-results {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .playlists-results-container {
                    display: grid;
                    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
                    gap: 15px;
                }
            }
        }
    }

}