.action-msg {
    position: fixed;
    bottom: 17%;
    left: 41%;
    padding: 5px;
    background-color: black;
    border-radius: 4px;

    @media(min-width: 770px) {
        bottom: 13%;
        left: 50%;
    }
}