.app-navbar {
    // flex: 1;
    grid-area: nav-bar;
    min-width: 200px;
    background-color: rgba(8, 8, 8, 0.728);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 80px;

    h1 {
        cursor: pointer;
    }

    * {
        color: #fff;
    }

    @media(min-width:770px) {
        padding: 20px 0 0 20px;
        background-color: #000;
        position: relative;
        height: auto;
        width: 263px;
    }

    .main-logo {
        padding-inline-start: 8px;
        gap: 7px;

        span {
            font-size: 2rem;
        }
    }

    .nav-links-main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;

        li {
            @media(min-width:770px) {
                padding-bottom: 10px;
            }

            a {
                @include nav-link;
                flex-direction: column;
                gap: 0;

                @media(min-width:770px) {
                    flex-direction: row;
                    gap: 10px;
                }
            }
        }

        @media(min-width:770px) {
            padding: 10px;
            display: initial;
        }

        // * {
        // color: #fff;
        // }
    }

    .nav-links-second {
        padding: 10px;
        height: 55%;

        .create-playlist {
            cursor: pointer;
            @include nav-link;
            margin-bottom: 15px;

            div {
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background-color: #fff;

                span {
                    color: black
                }
            }

        }

        .liked-songs {
            justify-content: space-between;

            a {
                @include nav-link;

                div {
                    height: 24px;
                    width: 24px;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(135deg, #450af5, #c4efd9);
                    border-radius: 3px;

                    span {
                        font-size: 0.75rem;
                        position: relative;
                        top: 3px;
                        left: 1px
                    }
                }
            }

            .nav-bar-playing {
                position: relative;
                top: 6px;

                * {
                    color: var(--green-color1);
                }
            }
        }


        .bottom-border {
            position: relative;

            hr {
                background-color: #282828;
                border: none;
                height: 1px;
                width: 100%;
                // margin: 8px 24px 0 24px;
                min-height: 1px;
            }

            .separator {
                // background: linear-gradient(180deg, rgba(0, 0, 0, .7), transparent);
                bottom: -16px;
                height: 16px;
                left: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                z-index: 1;
            }
        }

        .playlists-links {
            height: 100%;
            position: relative;

            .playlists-links-container {

                .scroll-container {
                    height: 100%;
                    overflow: hidden;
                    bottom: 0;
                    direction: inherit;
                    height: auto;
                    left: 0;
                    margin: 0 0 60px 0;
                    overflow: visible;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                    z-index: 0;
                    overflow-y: scroll;

                    ul {
                        padding: 0;


                        li {


                            a {
                                @include nav-link;
                            }

                            .nav-bar-playing {
                                * {
                                    color: var(--green-color1)
                                }
                            }

                            margin-bottom: 10px;
                        }
                    }
                }

            }
        }

    }
}