.music-player {
    box-sizing: border-box;
    background-color: var(--background-dark);
    border-top: 1px solid #282828;
    height: 90px;
    width: 100%;
    padding: 16px;
    grid-area: now-playing-bar;
    display: flex;


    .left-section {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .song-image {
            width: 56px;
            height: 56px;
            object-fit: contain;
        }

        .names-container {
            .song-name {
                color: white;

            }

        }
    }

    .main-player {
        width: 40%;
        display: flex;
        flex-direction: column;

        .buttons-container {
            display: flex;
            justify-content: center;
            flex: 1;
            gap: 14px;

            button:not(.play-pause-btn) {
                @include cleared-btn;
                width: 32px;
                height: 32px;
                font-size: 28px;


            }

            .play-pause-btn {
                width: 32px;
                height: 32px;
                @include play-btn;
                color: black;
                background: white;
                position: relative;

                &.play {

                    font-size: 32px;

                    svg {
                        position: absolute;
                        left: 2px;
                        top: 0px;
                    }
                }

                &.pause {
                    font-size: 20px;

                    svg {
                        position: absolute;
                        top: 6px;
                        left: 6px;
                    }
                }
            }
        }

        .time-container {
            display: flex;
            align-items: center;
            justify-content: center;

            span.css-1rblxne-MuiSlider-root {
                width: calc(100% - 50px);
                margin: 0px 7px;
            }

            p {
                color: var(--text-subdued); //should be a var
                font-size: 11px;

            }
        }
    }

    .right-section {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: flex-end;

        .volume-btn {
            @include cleared-btn;
            width: 32px;
            height: 32px;
            font-size: 20px;
            line-height: 12px;
        }
    }

    .dev-button {
        position: absolute;
        top: -200px;

        &.one {
            left: 0px;
        }

        &.two {
            left: 50px;
        }

    }

    // volume input opacity 0.38 is better for background
    span.css-ok908x-MuiSlider-root {
        .css-1rblxne-MuiSlider-root .css-14pt78w-MuiSlider-rail {
            opacity: 0.38;
        }

        &:hover {
            .css-1gv0vcd-MuiSlider-track {
                color: #1db954;
            }
        }

        .css-1gv0vcd-MuiSlider-track {
            border: 0;
        }
    }

    span.css-1rblxne-MuiSlider-root {
        .css-1rblxne-MuiSlider-root .MuiSlider-rai {
            opacity: 0.38;

        }

        &:hover {
            .css-1n40zqk-MuiSlider-track {
                color: #1db954;

            }
        }
    }

    .iframe-container {
        height: 0;
        width: 0;
    }
}