.need-to-login-modal {
    position: absolute;
    left: 200px;
    top: 200px;
    max-width: 336px;
    background-color: #0d72ea;
    border-radius: 8px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 30%);
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    text-align: start;
    z-index:100;
    .modal-content {
        min-width: 300px;
        padding: 16px;

        &.content {
            h2 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 30px;
                font-size: 0.975rem;
            }
            
            .btns {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 5px;
                font-size: 0.975rem;
                *{
                    cursor: pointer;
                }
                &.not-now{
                   @include cleared-btn;
                   color: #fff;
                }
                &.login{
                    background-color: #fff;
                    color: black;
                    border: none;
                    border-radius: 500px;
                    padding: 5px 0 5px 0;
                    padding-inline: 15px;
                    font-weight: 700;
                }
            }
        }
    }

    .side-arrow {
        position: absolute;
        top: 8px;
        left: -15px;

        * {
            color: #0d72ea;
        }

        span {
            font-size: 1.5rem;

        }
    }
}