.playlist-details-header {
    height: 30vh;
    max-height: 500px;
    min-height: 300px;
    gap: 10px;
    margin: 0 -17px 0 -19px;
    padding: 0 0 32px 32px;
    background-color: var(--background-dark);
    align-items: end;
    margin-bottom: 32px;

    .img-container {
        align-self: flex-end;
        height: 232px;
        margin-inline-end: 12px;
        min-width: 232px;
        box-shadow: 0 0 15px 4px black;
        position: relative;

        &:hover .change-photo-btn {
            opacity: 1;
            transition: all .4s;
        }

        img {
            object-fit: cover;
            height: 100%;
        }

        .change-photo-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            background-color: #0a0a0a8c;

            label {
                height: 100%;
                width: 100%;
                position: relative;

                .photo-label {
                    justify-content: center;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    top: 0;

                    span {
                        font-size: 4rem;
                    }
                }
            }
        }
    }

    .playlist-description {
        gap: 15px;

        .playlist-title {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 5rem;

            &:focus-visible {
                outline: none;
            }
        }
    }
}