.queue-page {
    padding: 0 16px;

    h3.title {
        color: white;
        margin-left: 2px;
    }

    h4.mini-title {
        color: #A7A7A7;
        margin-left: 2px;
    }

    .queue-song-list {
        display: flex;
        flex-direction: column;
    }

    .top-songs-results {
        border: 1px solid transparent;
        border-radius: 4px;
        height: 56px;
        position: relative;
        padding: 0 16px;

        &.modal-open {
            background-color: hsla(0, 0%, 100%, .3);
        }


        &:hover {
            background-color: hsla(0, 0%, 100%, .1);

            &.modal-open {
                background-color: hsla(0, 0%, 100%, .3);
            }

            .song-actions {

                p {
                    color: white;
                }

                .actions-btn {
                    opacity: 1;
                }
            }

            .top-song {


                .index-display {


                    p {
                        display: none;
                    }

                    .play-pause-btn {
                        display: initial;
                    }

                }

                .song-description {
                    h6 {
                        color: white;
                    }
                }
            }
        }

        .top-song {
            flex: 1;

            .index-display {
                margin-right: 16px;
                width: 14px;

                .volume-gif {
                    width: 14px;
                    height: 14px;
                    margin-inline-end: -4px
                }

                p {
                    margin: 0;
                    font-size: 20px;
                    color: #A7A7A7;
                }

                .play-pause-btn {
                    @include play-pause;
                    color: white;
                    background: none;
                    display: none;
                    padding: 0;
                    width: 10px;
                    position: relative;
                    right: 11px;
                }

            }

            .img-container {
                width: 50px;
                height: 50px;
                margin-right: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    clip-path: inset(12.5% 0 12.5%);
                }
            }

            .song-description {
                .song-title {
                    h5 {
                        color: white;
                        margin: 0 0 8px 0;
                        font-size: 16px;
                        font-weight: 100;
                        overflow-y: hidden;
                        height: 23px;

                        &.playing {
                            color: var(--green-color1)
                        }
                    }
                }

                h6 {
                    color: #A7A7A7;

                    font-size: 14px;
                    font-weight: 100;
                    margin: 0;
                }
            }


        }

        .song-actions {
            min-width: 76px;
            gap: 12px;
            position: relative;

            p {
                color: #A7A7A7;
            }

            .actions-btn {
                padding: 0;
                @include cleared-btn;
                font-size: 21px;
                line-height: 17px;
                opacity: 0;
            }


        }
    }
}