.app-header {
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    z-index: 2;
    position: sticky;
    top: 0;
    padding: 0 32px;
    background-color: var(--background-dark);
    gap: 16px;

    .header-nav-btns {
        gap: 16px;

        >* {
            @include nav-btn;
            height: 32px;
            width: 32px;
            font-size: 1.8em;
            color: #fff;
            background-color: rgba(0, 0, 0, .7);
            display: inline-flex;
            align-items: center;
            justify-content: center;

            span {
                display: inline-flex;
            }
        }
    }

    .search-bar-header {
        -webkit-box-flex: 1;
        flex-grow: 1;
        min-width: 0;

        .search-bar-container {
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: flex;
            gap: 16px;

            .search-form-container {
                flex: 0 1 364px;
                position: relative;

                input {
                    font-size: 0.875rem;
                    border: 0;
                    border-radius: 500px;
                    color: #000;
                    height: 40px;
                    padding: 6px 48px;
                    text-overflow: ellipsis;
                    width: 100%;
                }

                .search-icon-container {
                    align-items: center;
                    bottom: 0;
                    display: flex;
                    left: 12px;
                    pointer-events: none;
                    position: absolute;
                    right: 12px;
                    top: 0;
                    font-size: 1.7em;

                    span {
                        color: #121212;
                        flex: 1;
                    }
                }
            }
        }
    }

    .header-user {
        font-size: 16px;
        position: relative;

        .user-btn {
            border-radius: 50%;
            color: white;
            border: 2px solid black;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            font-size: 26px;
            background-color: rgba(0, 0, 0, .7);

            svg {
                position: absolute;
                top: 2px;
                right: 3px;

            }

            &:hover {
                border: none;
                background-color: #282828;
            }
        }

        .user-options-modal {
            position: absolute;
            inset: 0px 0px auto auto;
            margin: 0px;
            transform: translate(0px, 43px);
            background: #282828;
            color: #b3b3b3;
            border-radius: 4px;
            padding: 4px;
            box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
            min-width: 160px;
            display: flex;
            flex-direction: column;

            button {
                @include cleared-btn;
            }
        }

        .login-btn {
            font-weight: bold;
            background-color: #fff;
            color: #000;
            border: none;
            border-radius: 50px;
            padding: 8px 32px;
            height: 48px;

            &:hover {
                transform: scale(1.03);
            }
        }

        .signup-btn {
            font-weight: bold;
            @include cleared-btn;
            padding: 8px 32px 8px 8px;
            height: 48px;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}