@mixin cleared-btn {
    border: none;
    color: hsla(0, 0%, 100%, .7);
    background-color: transparent;

    &:hover {
        color: white;
    }
}

@mixin play-btn {
    border-radius: 50%;
    border: none;

    &:active {
        transform: scale(0.93);
    }
}

@mixin play-pause {
    width: 32px;
    height: 32px;
    @include play-btn;
    color: black;
    background: white;
    position: relative;

    &.play {

        font-size: 32px;

        svg {
            position: absolute;
            left: 2px;
            top: 0px;
        }
    }

    &.pause {
        font-size: 20px;

        svg {
            position: absolute;
            top: 6px;
            left: 6px;
        }
    }
}

@mixin green-pill-btn {
    background-color: #1ed760;
    color: #000000;
    border-radius: 500px;
    border: none;

}

@mixin nav-btn {
    border-radius: 50%;
    border: none;
}

@mixin green-play-btn {
    font-size: 3rem;
    background-color: transparent;
    border: 0px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
    align-self: center;

    span {
        display: flex;
        background-color: #0c0b0b;
        color: var(--green-color1);
        border-radius: 55%;
        box-shadow: 0px 3px 5px 0px #000000;
        cursor: pointer;

        &:hover {
            color: #138039;
            transition: all .3s;
        }
    }
}


@mixin nav-link {
    display: flex;
    gap: 10px;
    opacity: .7;
    transition: all .3s;

    &:hover {
        opacity: 1;
        transition: all .3s;
    }

    span {
        font-size: 1.5rem;

        p {
            padding: 0 0 0 3px;
        }
    }

    &.active {
        opacity: 1;
    }
}

@mixin black-input {
    height: 38px;
    background-color: #454545;
    color: white;
    padding: 0px 12px;
    border: none;
    font-size: 18px;

    &:focus {
        outline: none;
        background-color: lighten(#454545, 5%)
    }
}

@mixin main-content-scroll {
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

@mixin create-playlist {
    cursor: pointer;
    @include nav-link;
    margin-bottom: 15px;

    div {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: #fff;

        span {
            color: black
        }
    }

}